body {
  display: grid; 
  place-items: center; 
  height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1631106254201-ffbee2305c5b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
  background-size: cover;
}

#game-message {
background-color: black;
font-size: 50px;
color: white;
font-weight: bold;
padding: 10px;
}


.button-container {
    display: grid;
    grid-template-columns: 150px  150px;
    grid-template-rows: 150px  150px; 
    gap: 10px;
  }
  
  .circle {
    display: grid;
    place-items: center;
    background: 	#303030;
    border-radius: 50%;
    height: 400px;
    width: 400px;
  }
  
  .inner-circle {
    position: absolute;
    top: 200;
    left: 200;
    /* transform: translate(-50%, -50%); */
    background: 	#303030;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    z-index: 1;
  }




#yellow {
    width: 150px;
    height: 150px; 
    background-color: yellow;
    box-shadow: 2px 6px 2px black;
    border-radius: 100% 0 0 0;
}

#yellow:active{
  transform: translateY(4px);
  box-shadow: 0px 2px 1px black;
 }

 #yellow.glow {
  background-color: rgb(249, 249, 188);
 }

#blue {
     width: 150px;
    height: 150px; 
    background-color: blue; 
    box-shadow: 2px 6px 2px black;
    border-radius: 0 100% 0 0;
}


 #blue:active{
  transform: translateY(4px);
  box-shadow: 0px 2px 1px black;
 }

 #blue.glow {
  background-color: lightblue;
 }

#green {
    width: 150px;
    height: 150px; 
    background-color: green;
    box-shadow: 2px 6px 2px black;
    border-radius: 0 0 0 100%;
}

#green:active{
  transform: translateY(4px);
  box-shadow: 0px 2px 1px black;
 }

 #green.glow {
  background-color: lightgray;
 }

#red {
    width: 150px;
    height: 150px; 
    background-color: red;
    box-shadow: 2px 6px 2px black;
    border-radius: 0 0 100% 0;
}

#red:active{
  transform: translateY(4px);
  box-shadow: 0px 2px 1px black;
 }

 #red.glow {
  background-color: lightcoral;
 }
